.about{
    font-family: "Aldrich";
    color: #6eb8c7;
    font-size: 20px;
    line-height: 50px;
    font-weight: 10;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

