.Card {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  /* gap: 100px; */
}

.Card img {
  border: 10px solid rgba(255, 255, 255, 0.06);
  width: 100 vw;
  height: 400px;
  opacity: 0.5;
  cursor: url(../images/darkCustomArrow.svg), auto;
  object-fit: cover;
}

.Card img:hover {
  border: 10px solid #bfe7f1;
  opacity: 1;
  border-radius: 5px;
}

.breakfast {
  color: white;
  font-family: "Aldrich";
  font-size: 22px; 
  text-align: center;
}

.typingGame {
  color: white;
  font-family: "Aldrich";
  font-size: 22px;
  text-align: center;
}

.scraper {
  color: white;
  font-family: "Aldrich";
  font-size: 22px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .Card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Card img {
    width: 330px;
    height: 330px;
    /* object-fit: cover; */
  }
}
