.card {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
}


.card img{
  border: 10px solid rgba(255, 255, 255, 0.06);
  height: 400px;
  width: 600px;
  opacity: 0.4;
}

.card img:hover{
  border: 10px solid #bfe7f1;
  opacity: 1;
}