.infoCard {
  font-family: "Aldrich";
  color: white;
  font-size: 18px;
  line-height: 50px;
  font-weight: 10;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.infoCard .hi {
  font-size: 40px;
  animation-name: fading;
  animation-duration: 5000ms;
  animation-iteration-count: 1;
}

.infoCard .look {
  font-size: 33px;
  animation-name: fading2;
  animation-duration: 6000ms;
  animation-iteration-count: 1;
}

.Face {
  width: 230px;
  height: 230px;
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fading2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 600px) {
  .infoCard{
    margin-top: 10px;
  }
}

a.infoCard.Face{
  scroll-margin-top: 20px;
}