h1 {
  font-family: "Aldrich";
  color: #6eb8c7;
  text-align: left;
  padding: 10px;
  font-size: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #bfe7f1;
  width: 100%;
  justify-content: center;
}

li {
  font-family: "Aldrich";
  margin: 10px;
  font-size: 40px;
  float: left;
}

li a:hover {
  font-size: 37px;
  cursor: url(../images/darkCustomArrow.svg), auto;
  color: #28738C;
}

li a {
  text-decoration: none;
  color: black;
}

.socials {
  font-size: 55px;
  float: right;
  margin: 10px;
  padding: 0;
  text-decoration: none;
  color: black;
  cursor: url(../images/darkCustomArrow.svg), auto;
}

.socials:hover {
  color: white;
}
